# print (출력)

In [1]:
print('오늘 파이썬 배우기 좋은 날이네!')

오늘 파이썬 배우기 좋은 날이네!

# 변수 (Variable)

변수의 이름 규칙 (Rule)
다음의 문자만 사용할 수 있습니다.

소문자(a~z)

대문자(A~Z)

숫자(0~9)

한글도 가능

특수기호는 언더바(_) 만 허용

대소 문자를 구분합니다.  
숫자는 맨 처음에 올 수 없습니다.  
예약어(keyword)는 사용할 수 없습니다. (def, if, del, import, return 등등)

In [2]:
test = 10

In [3]:
test

10

# 데이터 타입 (Data Type)

주요 데이터 타입(type)

- int (정수): Integer(정수)의 약어이며, 정수를 나타내는 자료형입니다.
- float (실수): Floating point의 약어이며, 소수점이 있는 숫자를 나타내는 자료형입니다
- str (문자열): 문자를 나타내는 자료형입니다. 작은 따옴표 혹은 큰 따옴표로 감싸져 있습니다.
- bool (참/거짓): 참 또는 거짓을 나타내는 자료형입니다. True, False에서 T와 F는 반드시 대문자로 표기해야 합니다.

# 아무것도 아닌 None 타입

Null: Nullify (무효화하다) 라는 뜻을 가지고 있다네요~

In [4]:
a = None

In [5]:
type(a)

NoneType

int를 float로 변환한 경우 : .0 추가됨.

float를 int로 변환한 경우 : float를 int로 변환시 반올림이 아닌 값이 버림되어 집니다. (소수점 이하 절삭)

bool을 int로 변환한 경우 : False : 0, True : 1 변환

bool을 float로 변환한 경우 : .0 추가

# 리스트(list)

list는 다양한 type의 데이터를 집합으로 가집니다.  
list안에 list도 허용합니다.  
list는 순서(order)의 개념이 존재합니다.

In [7]:
a = [1, 'hello', 3, 3.14, [6, 7, '8']]
a

[1, 'hello', 3, 3.14, [6, 7, '8']]

관련 함수
- . 점 연산자로 함수를 실행할 수 있습니다.
- 함수는 어떤 작업을 수행하는 코드를 모아 이름을 붙인 것입니다.

## append() : 값 추가

In [8]:
mylist = []
mylist.append(1)
mylist

[1]

## sort() : 정렬

In [9]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort()
mylist

[1, 2, 3, 4, 5, 6, 7]

역정렬(reverse order)도 가능

In [10]:
mylist.sort(reverse=True)
mylist

[7, 6, 5, 4, 3, 2, 1]

## len() : 전체 항목의 개수 세기

In [11]:
mylist = [1, 6, 3, 2, 7, 5, 4]
len(mylist)

7

## insert() : 값 추가

In [12]:
mylist.insert(1, 100)
mylist

[1, 100, 6, 3, 2, 7, 5, 4]

## remove() : 값 제거

In [15]:
mylist.remove(1) # 리스트 속 숫자 입력
mylist

[100, 6, 3, 2, 7, 5, 4]

## pop() : 요소 꺼내기

In [17]:
mylist

[100, 3, 2, 7, 5, 4]

In [18]:
mylist.pop(1)

3

## count() : 갯수 세기

In [20]:
a = [1, 1, 1, 1, 1, 2, 2, 3]
a.count(1)

5

## extend() : 리스트 확장

In [21]:
a.extend([4, 5])
a

[1, 1, 1, 1, 1, 2, 2, 3, 4, 5]

In [22]:
a + [4, 5]
a

[1, 1, 1, 1, 1, 2, 2, 3, 4, 5]

## 인덱싱(indexing): 색인

In [23]:
fruit = ['사과', '바나나', '파인애플', '배', '수박', '키위', '오렌지', '망고', '딸기']
fruit[2:5]

['파인애플', '배', '수박']

In [24]:
fruit[-2:]

['망고', '딸기']

In [25]:
fruit[:3]

['사과', '바나나', '파인애플']

## indexing 에 step 활용하기

짝수만 출력

In [26]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

# 튜플(tuple)

- 리스트(list)는 가변(mutable)하는 객체(object)이지만, 튜플(tuple)은 불변(immutable)한 객체입니다.  
- 가변 객체는 요소에 대한 수정, 삭제, 변경 등이 가능하지만, 불편 객체는 요소에 대한 수정, 삭제, 변경이 불가합니다.

tuple(), () 로 생성합니다.
혹은 , 로 생성할 수 있습니다.

In [27]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

In [29]:
mytuple = 1,2,3
mytuple

(1, 2, 3)

(1,)과 (1)은 다른 자료구조임을 꼭 알고 있어야 합니다.

## 튜플 언패킹(unpacking)

In [30]:
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

튜플 자료형은 요소의 추가, 삭제, 변경등을 허용하지 않습니다.

## list를 tuple로 변환

In [31]:
a = [1, 2, 3, 4]
b = tuple(a)
b

(1, 2, 3, 4)

## tuple을 list로 변환

In [32]:
a = (1, 2, 3, 4)
b = list(a)
b

[1, 2, 3, 4]

요소를 추가 및 삭제한 후 다시 tuple로 변경할 수 있습니다.

주어진 tuple a를 (1, 100, 2, 3, 4)의 요소를 가지도록 변경해 주세요

In [33]:
a = list(a)
a.insert(1, 100)
tuple(a)

(1, 100, 2, 3, 4)

# 세트(set)

- 세트는 순서가 보장 되지 않습니다.
- 세트는 요소의 중복을 허용하지 않습니다.
- 세트는 {}를 활용하여 생성할 수 있습니다.

In [34]:
myset = {1, 1, 1, 2, 2, 2, 3, 3, 3}
myset

{1, 2, 3}

## add() : 값 추가

In [36]:
myset = set()
myset.add(1)
myset.add(1)
myset

{1}

요소를 중복하여 추가하였지만, 중복을 허용하지 않는 set의 특성상 중복이 제거된 요소만 출력됩니다.

## update() : 여러개 값 추가

list update

In [37]:
myset = {1, 2, 3}
myset.update([4, 5, 6])
myset

{1, 2, 3, 4, 5, 6}

tuple update

In [38]:
myset.update((7, 8, 9))
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set update

In [39]:
myset.update({10, 11, 12})
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

## remove() : 값 제거

In [40]:
myset.remove(2)
myset

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

## 교집합 (intersection)

& 기호나 intersection() 메서드를 활용하여 교집합을 구할 수 있습니다.

In [41]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

a&b

{3, 4, 5}

## 합집합 (union)

|기호나 union() 메서드를 활용하여 합집합을 구할 수 있습니다.

In [42]:
a | b

{1, 2, 3, 4, 5, 6, 7}

## 차집합 (difference)

-연산자를 활용하거나 difference() 메서드를 활용하여 구할 수 있습니다.

## set를 list로 변환

In [43]:
a = {1, 2, 3, 4, 5}
b = list(a)
b

[1, 2, 3, 4, 5]

## list를 set로 변환

In [45]:
a = [1, 1, 1, 2, 2, 2, 3, 3, 3]
b = set(a)
b

{1, 2, 3}

다음 리스트에서 중복된 항목을 제거하세요

In [46]:
numList = [1, 3, 2, 3, 7, 6, 8, 4, 10, 5, 3, 8, 9]
list(set(numList))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 딕셔너리(dictionary)

- 순서를 가지지 않습니다.
- 키(key)와 값(value)의 쌍으로 이루어져 있습니다.
- type은 dict로 표시 됩니다.
- key를 사용하여 값을 조회할 수 있습니다.
- 딕셔너리는 수정, 삭제, 추가가 가능합니다.

In [48]:
mydict = {'a': 1, 'b': 2, 'c': 3}
print(type(mydict))
mydict

<class 'dict'>

{'a': 1, 'b': 2, 'c': 3}

In [49]:
mydict['a']

1

## keys() : 모든 key 조회

In [50]:
mydict.keys()

dict_keys(['a', 'b', 'c'])

dict_keys는 리스트(list)가 아닙니다.
객체(object)로 생성되는데, 이를 list로 변경하기 위해서는 list()로 타입 변환을 하면 됩니다.

## values() : 모든 value 조회

In [51]:
mydict.values()

dict_values([1, 2, 3])

## items() : 모든 key, value 조회

In [52]:
mydict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

## 값을 추가하기

In [55]:
mydict[0] = 2
mydict[0]

2

In [56]:
mydict

{'a': 1, 'b': 2, 'c': 3, 0: 2}

## update() : 다중 업데이트

In [57]:
fruit = {
    '사과': 2000,
    '딸기': 3000,
    '수박': 5000,
}

In [58]:
mydict.update(fruit)
mydict

{'a': 1, 'b': 2, 'c': 3, 0: 2, '사과': 2000, '딸기': 3000, '수박': 5000}

## 제거하기 / key 제거

In [59]:
mydict.pop('b')
mydict

{'a': 1, 'c': 3, 0: 2, '사과': 2000, '딸기': 3000, '수박': 5000}

# 문자열

문자열 역시 리스트(list), 튜플(tuple)과 마찬가지로 sequence 형 자료구조를 가집니다.
문자열은 불변(immutable) 객체입니다.

파이썬의 문자열은 작은 따옴표(') 나 큰 따옴표(") 모두 구분없이 사용하여 문자열을 생성할 수 있습니다.

In [60]:
sample = '''안녕하세요?
반가워요
내이름은
파이썬 입니다.'''

print(sample)

안녕하세요?
반가워요
내이름은
파이썬 입니다.

## 문자열 출력 (포맷팅)

### %를 사용한 출력

In [61]:
"안녕하세요? %s" % ('반갑습니다.') # %s : 문자

'안녕하세요? 반갑습니다.'

In [62]:
'안녕하세요? %.4f' % (0.123456) #%.4f  : 5번째에서 반올림

'안녕하세요? 0.1235'

In [63]:
'안녕하세요? %d' % (12345) # %d : 숫자 모두

'안녕하세요? 12345'

In [64]:
'안녕하세요? %c' % ('a') # %c : 문자

'안녕하세요? a'

### {} 와 format를 사용한 출력

In [65]:
'웰컴투? {}'.format('파이썬.')

'웰컴투? 파이썬.'

### f 문자열 포맷팅

In [66]:
name = '펭수'
age = 10
print(f'내년에 저는 {age+1} 살입니다.')

내년에 저는 11 살입니다.

In [67]:
d = {'name':'펭수', 'age':10}
print(f"반가워요. 저는 {d['name']}입니다. 저의 나이는 {d['age']} 살입니다.")

반가워요. 저는 펭수입니다. 저의 나이는 10 살입니다.

## 인덱싱 (indexing)

In [68]:
registration_number =  '210101-1234567'
registration_number[7]

'1'

문자열 '20210101Sunny'를 슬라이싱하여 날짜는 date변수에 날씨는 weather 변수에 저장 후 출력 하세요

In [69]:
sample = '20210101Sunny'
date = sample[:-5]
weather = sample[-5:]

print(f'date: {date}, weather: {weather}')

date: 20210101, weather: Sunny

## 불변(immutable)

문자열은 index를 통해 값을 수정 및 변경이 불가합니다.
하지만 메서드(method)로 변경할 수 있습니다.

## 문자열의 list, set

In [70]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [71]:
set('AAABBBCCC')

{'A', 'B', 'C'}

## 문자열(텍스트)을 다루는 다양한 기능, 메서드(method)

## split() : 분리

split은 문장을 특정 규칙에 의해 쪼개 주는 기능을 합니다.
기본 값인 공백에서 특정 문자로 지정할 수 있습니다.

In [72]:
sample = 'abc-def.789/100'
sample.split('.')

['abc-def', '789/100']

## join() : 합치기

결합하고자 하는 문자에 .join() 안에 리스트를 지정하여 결합할 수 있습니다.

In [73]:
'-'.join(['010',  '1234', '5678'])

'010-1234-5678'

## lower(), upper() : 소문자 / 대문자로 만들기

## startswith, endswith

시작과, 끝이 맞는지 결과를 bool로 반환합니다.

## startswith() : 시작하는

In [74]:
a = '01-sample.png'
a.startswith('01')

True

## endswith() : 끝나는

In [75]:
a.endswith('.png')

True

## replace() : 문자열 바꾸기

문자열에 replace(바꿀 대상, 바꾸려는 문자열) 지정하여 문자열을 변경합니다.
결과는 복사본이 만들어져 반환됩니다.

In [76]:
a.replace('.png', '.jpg')

'01-sample.jpg'

## strip() : 양쪽 공백 제거

In [77]:
a.strip()

'01-sample.png'

# 연산

## 조금 생소할 수 있는 연산자 (%, //, **)

- //: floor division 연산자입니다. 나눗셈에 대한 몫을 정수형으로 구함
- %: modulus 연산자입니다. 몫을 나눈 나머지를 구함
- **: 제곱 연산

In [79]:
a = '10'
b = '20'
a+b #문자열로 인식

'1020'

In [80]:
int(a)+int(b)

30

# 비교연산자

## == : 같음을 비교

## != 같지 않음을 비교

# 조건문

주어진 조건이 참인 경우 그 다음 내가 정한 규칙(로직)을 실행하는 개념입니다.

## if
if는 어떤 조건이 성립한다면~ 이라는 뜻입니다.
if 구문 끝에는 반드시 콜론(:)을 잊지 말아 주세요

In [81]:
if 5 < 3:
    print('참')
    print('참')
    print('참')
    print('참')

print('끝')

끝

# else

else는 if 조건 후에 따라오며, if 가 아닌 경우에 실행 됩니다.

# elif

elif 구문은 3가지 이상 분기 (조건)의 동작을 수행할 때 사용합니다.

In [83]:
if 3 < 5: # 맨 첫번째 실행
    print('if 구문')
elif 3 < 4:
    print('elif 1 구문')
elif 3 > 5:
    print('elif 2 구문')
elif 3 < 6:
    print('elif 3 구문')
else:
    print('이것도 저것도 아니다')

if 구문

## 삼항연산자

(문법) (참인 값) if 조건 else (거짓인경우 값)

In [84]:
weight = input('몸무게를 입력해 주세요: ')

몸무게를 입력해 주세요: 105

In [85]:
"귀하는 과체중 입니다." if int(weight) > 100 else "귀하는 정상체중 입니다."

'귀하는 과체중 입니다.'

## 논리 연산자 (and, or, not)

not :
bool 값을 반전시킵니다.

사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성해 주세요.

각 통화별 환율은 다음과 같다.

달러: 1237.0
엔: 105.4
유로: 1349.69
위안: 194.57

In [88]:
환율 = {"달러": 1237,
        "엔": 1096,
        "유로": 1349.69,
        "위안": 194.57}
user = input("입력: ") #공백주의
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 50 유로
67484.5 원

# 반복문

- 1회 이상 반복해서 수행하는 일을 반복문으로 통해 쉽게 해결할 수 있습니다.
- 반드시 list, tuple, dict, set 등 집합에 대한 순회를 돌며 일을 처리할 때 많이 쓰입니다.
- list, tuple, dict, set, 문자열까지 모두 순회가능한(iterable) 객체 입니다.
- 순회가능한(iterable) 객체는 반복문을 통해 순회할 수 있습니다.

## for 와 in 구문 (반복문)

[기본 문법]
for 하나씩 꺼내올 때 변수 in [꺼내올 집합]:
(indent)


- list, tuple, set, dictionary, 문자열 형태 모두 가능
- range와 결합하여 사용 가능

반복문과 조건문을 활용하여 sample의 요소 중 10보다 크고 50보다 작은 요소만 출력해 주세요

In [89]:
sample = [1, 11, 22, -20, 55, -33, 0, -5, 12, 35, 19, -9, -1, -100, 90]

In [90]:
for num in sample:
  if num > 10 and num < 50:
    print(num)

11
22
12
35
19

## tuple + list

## 딕셔너리(dictionary)

다음의 문자열을 반복문을 활용하여 출력하되, 모음('a', 'e', 'i', 'o', 'u')만 대문자로 자음은 소문자로 출력해 주세요.

In [96]:
sample = "PyThoN Is fUn"

for i in sample:
#     if i.lower() in ['a', 'e', 'i', 'o', 'u']:
    if i.lower() in 'aeiou':
        print(f'(모음) {i.upper()}')
    elif i == ' ':
        print('(공백) ')
    else:
        print(f' {i.lower()}')

 p
 y
 t
 h
(모음) O
 n
(공백)
(모음) I
 s
(공백)
 f
(모음) U
 n

## range()

- range() 함수는 별도의 list, tuple 생성 없이 range() 에서 정의한 범위를 반복하는데 활용할 수 있습니다.  
- range(start, stop, step) 형식을 사용합니다.

구구단을 반복문을 사용하여 만들어 보세요!
구구단은 2단 부터 9단까지 있습니다.

In [99]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} X {j} = {i*j}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 제어문

## continue
- 반복문 내부에서 continue 구문은 해당 루프(loop)를 건너뛰게 합니다.
- continue 라는 구문을 만나면, 반복문에서 continue 아래 작성된 코드는 실행되지 않고 건너뜁니다.

## break

- break 구문을 만나면, 반복 루프(loop)는 즉시 종료됩니다.

## While

- while 문은 while문과 함께 정의한 조건이 참이 동안 반복 루프를 수행합니다.
- 많은 사용하는 방법 중 하나는 while True로 지정하여 무한 루프를 생성 후, 탈출 구문 루프 내에서 설정하는 것입니다.

1부터 50까지의 숫자 중에서 짝수의 합을 구하세요 (while 사용)

In [101]:
count = 1
total = 0
while count <= 50:
    if count % 2 == 0:
        total += count
        print('count: %d, total: %d' % (count, total))
    count += 1

count: 2, total: 2
count: 4, total: 6
count: 6, total: 12
count: 8, total: 20
count: 10, total: 30
count: 12, total: 42
count: 14, total: 56
count: 16, total: 72
count: 18, total: 90
count: 20, total: 110
count: 22, total: 132
count: 24, total: 156
count: 26, total: 182
count: 28, total: 210
count: 30, total: 240
count: 32, total: 272
count: 34, total: 306
count: 36, total: 342
count: 38, total: 380
count: 40, total: 420
count: 42, total: 462
count: 44, total: 506
count: 46, total: 552
count: 48, total: 600
count: 50, total: 650

# Comprehension 문법

- 반복문(for ~ in)과 조건문 그리고 변수에 대한 연산까지 모두 갖춘 편리한 문법입니다.
- comprehension의 종류로는 list, set, dict등이 존재합니다.

mylist 이라는 list에서 짝수만 따로 list로 만들어 주고 싶을 때는 어떻게 할까요?

In [102]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 짝수를 만들이 위한 빈 리스트 생성
even = []

for i in mylist:
    if i % 2 == 0:
        # even 리스트에 값 추가
        even.append(i)

print(even)

[2, 4, 6, 8, 10]

## Comprehension 예시

In [103]:
even = [i for i in mylist if i % 2 == 0]
even

[2, 4, 6, 8, 10]

반복문 안에서 변수를 맨 앞에 한 번더 선언해 주지 않는다면 당연히 에러가 나게 됩니다.

for i in mylist 구문에서 반복문을 돌면서 i 값이 return 된다고 생각하고 그 변수를 list에 다시 넣어주는 원리입니다.

즉, i를 for 문 맨 앞에 써주세요

## Set Comprehension

set comprehension은 comprehension 문법을 세트(set)로 생성합니다.
괄호를 {}로 생성하면 set comprehension이 완성됩니다.

In [105]:
set_even = {i for i in mylist if i % 2 == 0}
set_even

{2, 4, 6, 8, 10}

## Dict Comprehension

dict comprehension은 comprehension 문법을 활용하여 딕셔너리(dictionary)를 생성합니다.
괄호는 {}로 생성하고, key:value 형식을 반드시 지정합니다.

In [106]:
dict_even = {i:i for i in mylist if i % 2 == 0}
dict_even

{2: 2, 4: 4, 6: 6, 8: 8, 10: 10}

# 함수(function)

- def 키워드로 시작합니다.
- 함수명을 기입합니다.
- () 안에 매개변수를 지정할 수 있고, 생략도 가능합니다.
- 끝에는 :으로 끝납니다.
- 함수의 범위 안에서는 들여쓰기를 합니다. 들여쓰기가 끝난 지점이 함수의 범위가 끝나는 지점입니다.

## 함수의 다양한 형태

- 일반 형태
입력 매개변수: O
return: O

- 입력 매개변수가 없는 형태

- return 이 없는 형태

- 입력 매개변수, return 모두 없는 형태

## 함수의 이름 및 호출

- 함수의 이름은 알파벳이나 _로 시작해야 합니다.
- 함수의 지정된 이름과 () 로 호출 할 수 있습니다.

return 값이 존재하는 경우 함수는 결과 값을 반환 하며 반환된 결과를 변수에 대입할 수 있습니다.

## docstring

함수에 대한 설명을 기록

In [107]:
def sample_function():
    """
    함수에 대한 설명을 기록합니다.
    sample_function은 함수를 설명하기 위한 예제 함수 입니다.

    (예시)
    호출의 예.
    sample_function()
    """
    print('함수가 호출 되었습니다.')

In [109]:
sample_function()

함수가 호출 되었습니다.

In [110]:
print(sample_function.__doc__)

    함수에 대한 설명을 기록합니다.
    sample_function은 함수를 설명하기 위한 예제 함수 입니다.

    (예시)
    호출의 예.
    sample_function()

## 함수의 인수(매개변수)

- 인수(argument): 값, 변수, 참조 등 전달되는 값
- 매개변수(parameter): 함수 등에서 사용되는 전달된 값을 받는 변수

- 위치 인수(positional arguments)
가장 보편적인 인수입니다.
변수명을 인수로 지정합니다.
위치가 중요합니다.

In [111]:
def add_function(a, b, c):
    result = a + b + c
    print(f'a: {a}, b: {b}, c: {c}')
    print(f'sum: {result}')
    return result

add_function(3,5,7)

a: 3, b: 5, c: 7
sum: 15

15

- 키워드 인수(keyword arguments) : 위치 인수의 위치를 정확히 기억 하지 못하고 혼란을 야기할 수 있기 때문에 인수명에 값을 직접 지정합니다.

- 기본 매개변수(default parameter) 매개변수에 기본 값을 지정할 수 있습니다.
기본 값을 지정시 인수에 값을 생략 가능합니다.
단, 기본 값이 지정된 인수는 위치 인수보다 다음에 위치해야 합니다.

기본 매개변수가 위치 인수보다 앞 쪽에 위치한 경우 Error가 발생합니다.

## *tuple (가변 매개변수)

여러 개의 인수를 전달 받을 수 있습니다.
여러 개의 인수를 전달 받은 *args에는 튜플(tuple) 형식으로 데이터가 저장됩니다.
*args로 받은 인수는 반복문으로 처리하는 것이 일반 적입니다.
대체적으로 *args 변수가 많이 사용됩니다.

In [112]:
def add_function(*args):
    result = 0
    print(f'args의 타입: {type(args)}')
    for arg in args:
        print(arg)
        result += arg
    print('==='* 5)
    print(f'sum: {result}')

In [113]:
add_function()

args의 타입: <class 'tuple'>
===============
sum: 0

In [114]:
add_function(1, 2, 3, 4, 5)

args의 타입: <class 'tuple'>
1
2
3
4
5
===============
sum: 15

- 위치 매개변수와 *tuple 매개변수의 혼용 : *tuple 매개변수는 위치 매개변수의 뒤에 위치해야 합니다.

In [115]:
def add_function(a, *args): #(a, 숫자)
    print(f'a: {a}')
    print('==='* 5)
    result = 0
    for arg in args:
        print(arg)
        result += arg
    print('==='* 5)
    print(f'sum: {result}')

In [116]:
add_function(1,2,3,4,5)

a: 1
===============
2
3
4
5
===============
sum: 14

가변 매개변수를 활용한 함수를 생성하여 요소의 개수를 구하고 출력하는 프로그램을 만들어 주세요

In [117]:
def count_function(*args):
    print(f'전달한 요소의 개수는: {len(args)} 개 입니다.')

In [118]:
count_function(1, 2, 3, 4, 5)

전달한 요소의 개수는: 5 개 입니다.

## **dict 인수 (키워드 가변 매개변수)

- 여러 개의 인수를 전달 받을 수 있습니다.
- 여러 개의 인수를 전달 받은 **kwargs에는 딕셔너리(dict) 형식으로 데이터가 저장됩니다.
- **kwargs로 받은 인수 역시 반복문으로 처리하는 것이 일반 적입니다.
- 대체적으로 **kwargs 변수가 많이 사용됩니다.

In [119]:
def add_function(**kwargs):
    total_age = 0
    for name, age in kwargs.items():
        print(f'이름: {name}, 나이: {age}')
        total_age += age
    print('==='* 5)
    print(f'전체 나이의 합계: {total_age}')

In [120]:
person = {'john': 10, 'peter': 12, 'lee': 5}
add_function(**person)

이름: john, 나이: 10
이름: peter, 나이: 12
이름: lee, 나이: 5
===============
전체 나이의 합계: 27

## lambda : 익명 함수(annonymous function)

- 이름 없이 정의된 함수 입니다.
- 단일 문장(1줄)의 코드로 작성되어야 합니다.
- 함수 내부에서는 return문이 포함하지 않지만 값을 반환합니다.

In [121]:
a = lambda x, y: x * y if x > 0 else y

a(5,6)

30

def calc_many(choice, *args) 함수에서

choice가 sum 이면 합을 구해서 return 합니다.
choice 가 mul 이면 곱한 결과를 return 합니다.
함수를 구현하세요

In [122]:
def calc_many(choice, *args):
    # 코드입력
    ret = 0
    if choice == 'mul':
        ret = 1
    for i in args:
        if choice == 'sum':
            ret += i
        elif choice == 'mul':
            ret *= i
    return ret

In [123]:
calc_many('sum', 0, 1, 2, 3, 4)

10

In [124]:
calc_many('mul', 0, 1, 2, 3, 4)

0

# 내장함수(built-in function)

## map

- 문법: map(function, iterable)
- map은 함수(f)와 순회 가능한(iterable) 자료형을 입력으로 받습니다.
- map은 입력받은 자료형의 각 요소를 함수(function)가 수행한 결과를 묶어서 돌려줍니다.

In [126]:
sample_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

map(str, sample_data) # 함수 반환

map에 lambda 함수 적용

In [127]:
result = map(lambda x: x*2, sample_data)
list(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

map에 다중 인수를 지정

In [128]:
sample_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sample_data_2 = [0, 1, 2, 3, 5, 8, 13, 21, 34, 55]
list(map(lambda x, y: x+y, sample_data, sample_data_2))

[1, 3, 5, 7, 10, 14, 20, 29, 43, 65]

list의 size가 다른 경우, 작은 size에 맞춰 생성

map()을 활용하여 sample 리스트 요소의 제곱을 리스트 형식으로 출력하세요

In [130]:
list(map(lambda x: x**2, sample_data))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## zip

- 문법: zip(*iterable)
- 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 합니다.

In [131]:
sample_data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sample_data2 = [0, 1, 2, 3, 5, 8, 13, 21, 34, 55]
sample_data3 = [5, 6, 7]

In [132]:
result = zip(sample_data1, sample_data2)
list(result)

[(1, 0),
 (2, 1),
 (3, 2),
 (4, 3),
 (5, 5),
 (6, 8),
 (7, 13),
 (8, 21),
 (9, 34),
 (10, 55)]

zip을 활용한 dict 만들기

In [133]:
number = [1, 2, 3, 4]
name = ['홍길동','김철수','John','Paul']
dic = {}

for number, name in zip(number,name):
    dic[number] = name

dic

{1: '홍길동', 2: '김철수', 3: 'John', 4: 'Paul'}

## enumerate

- [문법]: enumerate(iterable, start=0)
- 순서가 있는 자료형을 입력 받아 index를 포함하는 객체로 return 합니다.

In [135]:
for idx, value in enumerate(range(1, 10, 2)): # 0,1,2,3,4 - 1,3,5,7,9
    print(f'index: {idx}, value: {value}')

index: 0, value: 1
index: 1, value: 3
index: 2, value: 5
index: 3, value: 7
index: 4, value: 9

# 패키지와 모듈의 관계

- 함수들이 뭉쳐진 하나의 .py 파일 안에 이루어진 것을 모듈이라고 합니다.
- 여러 개의 모듈을 그룹화 하면 패키지가 됩니다.
- 패키지는 종종 라이브러리라고도 불리웁니다.

즉, 하나의 .py 파일은 모듈이며, 모듈을 포함하는 디렉토리(directory)는 패키지로 정의됩니다.

## 모듈 import

- 모듈 import는 외장 라이브러리의 모듈을 불러오는 유용한 기능입니다.
- 모듈 import를 통해 는 다른 누군가가 이미 만들어 놓은 기능을 쉽게 가져와 사용할 수 있습니다.
- 파이썬 모듈을 가져와 사용하기 위해서는 import 구문을 사용합니다.
- 파이썬 모듈을 import 하는 방법은 여러가지 방식이 존재합니다.

In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

- numpy: 과학 계산을 위한 패키지
- pandas: 데이터 분석을 할 때 가장 많이 쓰이는 모듈
- matplotlib: 시각화를 위한 모듈
- seaborn: 시각화를 위한 모듈 (matplotlib을 더 쉽게 사용할 수 있도록 도와주는 패키지)
- random: 난수 생성 관련 모듈

# Python의 Class와 상속(inheritance)의 개념

- Python 문법에서의 상속(inheritance)란, 부모 클래스(Super Class)의 속성(property)과 함수(method)를 그대로 물려 받는 개념입니다.
- Super Class의 내용을 자식 클래스(Sub Class)가 물려 받게 되면, Super Class의 속성과 함수를 자식 클래스에서 사용할 수 있습니다.
- class 에 속한 함수 (method)는 첫 번째 인자로 self를 입력합니다. (사실 self가 아니어도 상관없지만, 일반적으로 self를 많이 사용합니다.)
- 자식클래스의 함수를 재정의하게 되면, 재정의된 함수로 실행되게 됩니다.

In [144]:
class Person:
    """Super Class"""
    # 클래스 변수
    total_count = 0

    # 생성자 메서드(method)
    def __init__(self):
        self.name = '홍길동'
        self.age = 1
        Person.total_count+=1

    # class내 정의된 메서드(method)
    def introduce(self):
        print(f'제 이름은 {self.name} 이고, 나이는 {self.age}살 입니다.')

In [146]:
Person

__main__.Person

## 인스턴스(instance) 생성과 객체(object)
객체는 바로 밑의 예시에서 p1, p2, p3를 일컫습니다.

정의된 클래스(class)로부터 생성된 녀석을 인스턴스(instance) 혹은 객체(object)라고 합니다.

하지만, 용어의 온도차(?)는 존재합니다.

In [147]:
p1 = Person()

p1.introduce()

제 이름은 홍길동 이고, 나이는 1살 입니다.

## 클래스 변수의 출력

클래스 변수는 모든 클래스가 공유하게 됩니다. 클래스의 객체가 1번 만들어 졌기 때문에 1이 출력되는 것을 확인할 수 있습니다.

In [149]:
p1.__class__.total_count

1

생성자 메서드가 재정의되었을 때

In [153]:
class Person:
    """Super Class"""
    # 클래스 변수
    total_count = 0

    # 생성자 메서드
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.total_count+=1

    # class내 정의된 함수(method)
    def introduce(self):
        print(f'제 이름은 {self.name} 이고, 나이는 {self.age}살 입니다.')

In [154]:
p2 = Person('김철수', 22)
p2.introduce()

제 이름은 김철수 이고, 나이는 22살 입니다.

## 클래스 상속 (inheritance) 받기

In [155]:
class Student(Person):
    """Sub Class"""

    def __init__(self):
        super().__init__()

    def print_name(self):
        print(f'제 이름은 {self.name} 입니다.')

    def print_age(self):
        print(f'제 나이는 {self.age} 입니다.')

Student 클래스는 Person 클래스를 상속받아 구현하게 되면서, 생성자 (init) 함수에서 name, age argument를 요구합니다. 이 Rule을 지켜주지 못하면 에러가 발생합니다.

In [156]:
class Student(Person):
    """Sub Class"""

    def __init__(self):
        super().__init__('테디', 30)

student = Student()

In [157]:
student.introduce()

제 이름은 테디 이고, 나이는 30살 입니다.

## 메서드 오버라이딩

- 메서드 오버라이딩은 부모로부터 물려받은(상속받은) 메서드를 재정의하여 사용할 때 사용합니다.
- 부모로부터 물려받은 다른 기능은 그대로 사용하되, 몇몇 메서드만 수정하여 활용하고 싶을 때 사용합니다.

In [158]:
class Person:
    """Super Class"""

    # PErson의 생성자 메서드
    def __init__(self, name='홍길동', age=20):
        self.name = name
        self.age = age

    # Person의 메서드
    def introduce(self):
        print(f'난 Person이야. 내 이름은 {self.name} 이고, 나이는 {self.age}살이야.')

In [159]:
class Student(Person):
    """Sub Class"""

    def __init__(self):
        super().__init__()

    # 메서드 오버라이딩
    def introduce(self):
        print(f'난 Student야. 내 이름은 {self.name}이고, 나이는 비밀이야.')

In [160]:
student = Student()
student.introduce()

난 Student야. 내 이름은 홍길동이고, 나이는 비밀이야.

클래스 메서드 오버라이딩을 하고 그 안에서 super()를 호출한 경우

In [161]:
class Student(Person):
    """Sub Class"""

    def __init__(self):
        super().__init__()

    # 메서드 오버라이딩
    def introduce(self):
        # 부모의 메서드 호출
        super().introduce()
        print(f'난 Student야. 내 이름은 {self.name}이고, 나이는 비밀이야.')

In [162]:
student = Student()
student.introduce()

난 Person이야. 내 이름은 홍길동 이고, 나이는 20살이야.
난 Student야. 내 이름은 홍길동이고, 나이는 비밀이야.

만약, 부모클래스의 메서드를 호출하고 싶다면, super().introduce() 형식으로 호출 할 수 있습니다.

## 상속 구조 확인

- 상속의 구조는 클래스명.mro()로 확인할 수 있습니다.
- 구조는 상속 받은 순서대로 표시됩니다.
- 모든 class는 object를 상속받기 때문에 항상 object가 마지막에 표기 됩니다.

In [164]:
Student.mro()

[__main__.Student, __main__.Person, object]